// variables

// font import
// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// variable names
// $mainFont: "Press Start 2p";

// mixin functions
@mixin rectangle($width, $height, $color, $direction, $justify){
    width: $width;
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    background-color: $color;
}

@mixin hoverPoint{
    &:hover{
        cursor: pointer;
    }
}


.signUpContainer{
    margin: 5rem;
    margin-left: 88px;
    padding: 4rem;
    font-family: $smallText;
    h5{
        color: $mainPurple;
        font-family: $mainFont;
        font-size: 20px;
        padding-top: -2rem;
        padding-bottom: 2rem;
    }


    input{
        font-family: $smallText;
        font-size: 10px;
        background-color: $sunset;
        border-width: thin;
        border-color: $mainPurple;
        color: $promptVal;
        border-radius: 11px 11px 11px 11px;
        width: 70%;
        
        // text-color: $textAccPurple;
      
        
    } 
    
    label{
        font-family: $smallText;
        font-size: 10px;
        color: $mainPurple;
    }
    
    #next{
        border-width: medium;
        background-color: $mainPurple;
        @include hoverPoint();
    }

    // popup for inputting an invalid email address
    #notEmail{
        @include rectangle(300px, 40px, $popUp,row,center);
        margin: 3rem;
        p{
            font-size: 10px;
            align-items: center;
        }
       

    }

    // popup when email doesn't register
    #norecords{
        @extend #notEmail;
        a{
            font-size: 10px;
            @include hoverPoint();
        }
    }
    // hides elements
    .hidden{
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
}

