$mainPurple: #463C6F;
$sunset: #f5bd89;
$accentPurple: #D7D0F1;
$titleOrange: #DAA270;
$textAccPurple: #A195D6;

// font imports
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');

@mixin rectangle($width, $height, $color, $direction, $justify){
    width: $width;
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    background-color: $color;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $mainPurple;
}


.container{
    @include rectangle(50%, 50%, $sunset, row, left);
    position: absolute;
    border-radius: 21px 21px 21px 21px;
    box-shadow: 13px 13px 2px 2px #30294b;
    // left: 20%;
    // top: 20%;
}

.left{
    @include rectangle(40%, 100%, $accentPurple, column, left);
    border-radius: 21px 0px 0px 21px;
    .box{
        h1{
        font-size: 15px;
        color: $mainPurple;
        font-family: Sancreek;
        }
        h2{
            font-size: 55px;
            color: $titleOrange;
            font-family: Signica, sans-serif;
        }
        h4{
            color: $textAccPurple;
            font-family: Signica, sans-serif;}
        }
}

