@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sancreek&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sancreek&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.signUpContainer {
  margin: 5rem;
  margin-left: 88px;
  padding: 4rem;
  font-family: "Ubuntu";
}

.signUpContainer h5 {
  color: #473d71;
  font-family: "Press Start 2p";
  font-size: 20px;
  padding-top: -2rem;
  padding-bottom: 2rem;
}

.signUpContainer input {
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #f5bd89;
  border-width: thin;
  border-color: #473d71;
  color: #FBF3E5;
  border-radius: 11px 11px 11px 11px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.signUpContainer label {
  font-family: "Ubuntu";
  font-size: 10px;
  color: #473d71;
}

.signUpContainer #next {
  border-width: medium;
  background-color: #473d71;
}

.signUpContainer #next:hover {
  cursor: pointer;
}

.signUpContainer .hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #473d71;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 0;
}

.container {
  width: 967px;
  height: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #f5bd89;
  position: relative;
  border-radius: 21px 21px 21px 56px;
  -webkit-box-shadow: 13px 13px 2px 2px #30294b;
          box-shadow: 13px 13px 2px 2px #30294b;
  place-items: center;
}

.container .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .right h2 {
  font-size: 40;
  font-family: Signica, sans-serif;
  color: #473d71;
}

.container .right .popup {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C4C4C4;
  font-family: "Ubuntu";
  font-size: 16px;
}

.container .right .popup a {
  color: #9c27b0;
}

.left {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #D7D0F1;
  border-radius: 0px 0px 0px 56px;
}

.left .box {
  top: 50%;
  margin: 3rem;
  padding-top: 5rem;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left .box h1 {
  font-size: 15px;
  color: #473d71;
  font-family: "Ubuntu";
  text-transform: uppercase;
}

.left .box h3 {
  font-size: 35px;
  color: #DAA270;
  font-family: "Press Start 2p", sans-serif;
  margin: 50px 2px;
  line-height: 2.75rem;
}

.signUpContainer {
  margin: 5rem;
  margin-left: 88px;
  padding: 4rem;
  font-family: "Ubuntu";
}

.signUpContainer h5 {
  color: #473d71;
  font-family: "Press Start 2p";
  font-size: 20px;
  padding-top: -2rem;
  padding-bottom: 2rem;
}

.signUpContainer input {
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #f5bd89;
  border-width: thin;
  border-color: #473d71;
  color: #FBF3E5;
  border-radius: 11px 11px 11px 11px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.signUpContainer label {
  font-family: "Ubuntu";
  font-size: 10px;
  color: #473d71;
}

.signUpContainer #next {
  border-width: medium;
  background-color: #473d71;
}

.signUpContainer #next:hover {
  cursor: pointer;
}

.signUpContainer .hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #473d71;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 0;
}

.container {
  width: 967px;
  height: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #f5bd89;
  position: relative;
  border-radius: 21px 21px 21px 56px;
  -webkit-box-shadow: 13px 13px 2px 2px #30294b;
          box-shadow: 13px 13px 2px 2px #30294b;
  place-items: center;
}

.container .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .right h2 {
  font-size: 40;
  font-family: Signica, sans-serif;
  color: #473d71;
}

.container .right .popup {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C4C4C4;
  font-family: "Ubuntu";
  font-size: 16px;
}

.container .right .popup a {
  color: #9c27b0;
}

.left {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #D7D0F1;
  border-radius: 0px 0px 0px 56px;
}

.left .box {
  top: 50%;
  margin: 3rem;
  padding-top: 5rem;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left .box h1 {
  font-size: 15px;
  color: #473d71;
  font-family: "Ubuntu";
  text-transform: uppercase;
}

.left .box h3 {
  font-size: 35px;
  color: #DAA270;
  font-family: "Press Start 2p", sans-serif;
  margin: 50px 2px;
  line-height: 2.75rem;
}

.signUpContainer {
  margin: 5rem;
  margin-left: 88px;
  padding: 4rem;
  font-family: "Ubuntu";
}

.signUpContainer h5 {
  color: #473d71;
  font-family: "Press Start 2p";
  font-size: 20px;
  padding-top: -2rem;
  padding-bottom: 2rem;
}

.signUpContainer input {
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #f5bd89;
  border-width: thin;
  border-color: #473d71;
  color: #FBF3E5;
  border-radius: 11px 11px 11px 11px;
  width: 70%;
}

.signUpContainer input[type="radio"] {
  width: 10%;
  font-size: 12pt;
}

.signUpContainer #signup {
  border-width: medium;
  background-color: #473d71;
}

.signUpContainer #signup:hover {
  cursor: pointer;
}

.signUpContainer .hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.signUpContainer label {
  font: 12pt;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #473d71;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 0;
}

.container {
  width: 967px;
  height: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5bd89;
  position: relative;
  border-radius: 21px 21px 21px 56px;
  -webkit-box-shadow: 13px 13px 2px 2px #30294b;
          box-shadow: 13px 13px 2px 2px #30294b;
  place-items: center;
}

.container .right {
  width: 67%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: #f5bd89;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right canvas {
  z-index: 1;
}

.container .right .prompt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 3;
}

.container .right .prompt button {
  font-family: #f5bd89;
  font-size: 18pt;
  padding: 15px 25px;
  border-radius: 25px;
  border-color: #9c27b0;
  border-width: 5px;
  background-color: #D7D0F1;
}

.container .right .prompt button:hover {
  cursor: pointer;
}

.left {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #D7D0F1;
  border-radius: 0px 0px 0px 56px;
}

.left .box {
  top: 50%;
  margin: 3rem;
  padding-top: 5rem;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left .box h1 {
  font-size: 15px;
  color: #473d71;
  font-family: "Ubuntu";
  text-transform: uppercase;
}

.left .box h3 {
  font-size: 35px;
  color: #DAA270;
  font-family: "Press Start 2p", sans-serif;
  margin: 50px 2px;
  line-height: 2.75rem;
}
/*# sourceMappingURL=main.css.map */