// font imports
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$mainPurple: #473d71;
$sunset: #f5bd89;
$accentPurple: #D7D0F1;
$titleOrange: #DAA270;
$textAccPurple: #A195D6;
$promptVal: #FBF3E5;
$mainFont: "Press Start 2p";
$smallText: "Ubuntu";
$popUp: #C4C4C4;


// file extension imports
@import './inputs';




// font variables

@mixin rectangle($width, $height, $color, $direction, $justify){
    width: $width;
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    background-color: $color;
}

@mixin popup{
    // width: 100%;
    // height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $popUp;
    font-family: $smallText;
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: $mainPurple;
    align-content:center;
    align-items:space-around;
    display:grid;
    justify-items:center;
}



// containers and whatnot
.container{
    @include rectangle(967px, 547px, $sunset, row, left);
    position: relative;
    border-radius: 21px 21px 21px 56px;
    box-shadow: 13px 13px 2px 2px #30294b;
    place-items: center;
    .right{
        flex-direction: column;
        h2{
            font-size: 40;
            font-family: Signica, sans-serif;
            color: $mainPurple;
        } 

        // styles the
        .popup{
            @include popup();
        }
              
    }
    // left: 20%;
    // top: 20%;
}


.left{
    @include rectangle(33%, 100%, $accentPurple, column, left);
    border-radius: 0px 0px 0px 56px;
    .box{
        top: 50%;
        margin: 3rem;
        padding-top: 5rem;
        height: 40%;
        justify-content: center;
        h1{
        font-size: 15px;
        color: $mainPurple;
        font-family: $smallText;
        }
        h3{
            font-size: 35px;
            color: $titleOrange;
            font-family: $mainFont, sans-serif;
            margin: 2px;
        }
        // h4{
        //     font-size: 12px;
        //     color: $textAccPurple;
        //     font-family: Signica, sans-serif;
            // }
        }
}

